*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font: 100% 'Akrobat Regular';
	color: #939496;
	max-width: 1920px;
}
a {
	color: #939496;
	text-decoration: none;
}

h1 {
	color: #939496;
	font-family: 'Stix';
	font-size: 3.8em;
	letter-spacing: 7px;
	line-height: 70px;
}
h2 {
	font-family: 'Stix';
    letter-spacing: 6px;
    font-size: 3.5em;
}
h3 {
	font-family: 'Stix';
	font-size: 2.5em;
	color: #99c1c1;
}
h4 {
	font-family: 'Akrobat SemiBold';
	font-size: 1.512em;
	letter-spacing: 1px;
}


/*-----------Start header-----------*/

.header {
    position: relative;
}
.header__container {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    height: 56px;
	margin: 10px 16vw 20px 22vw;
    
}
.header__container__left {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

}
.header__menu {
    display: none;
	position: absolute;
    width: 21vw;
    height: 698px;
    border-radius: 0 0 5% 5%; 
    background: linear-gradient(55deg, #f3e1e4, #fff);/*Фон - градиент*/
	background: -o-linear-gradient(55deg, #f3e1e4, #fff);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    top: -10px;
    left: -16.5vw;
    z-index: 3;
}

.header__menu li {
	position: relative;
	list-style: none;
}
.header__menu__list {
	margin: 70px 10px 0 5vh;
}
.header__menu__list>li {
    margin: 0 0 20px 0;
    font-size: 1.5em;
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}
.header__menu__list>li:nth-child(2):hover {
	margin-bottom: 190px;
} 
.header__menu__list>li:nth-child(2):hover .header__menu__link-click {
	transform: rotate(90deg);
}
.header__menu__list>li:nth-child(4):hover {
	margin-bottom: 200px;
} 
.header__menu__list>li:nth-child(4):hover .header__menu__link-click {
	transform: rotate(90deg);
}
.header__menu__list>li:hover {
	font-family: 'Akrobat Bold';
	
}
.header__menu__list>li:hover .header__sub-menu__list {
    display: block;

}

.header__sub-menu__list {
	display: none;
    position: absolute;
    left: 2vw;
    top: 15px;
    padding: 10px 0 0 0;
	max-width: 295px;
}
.header__sub-menu__list>li {
	font-size: .9em;
	transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
	padding-top: 10px;
	font-family: 'Akrobat';
}
.header__sub-menu__list>li:hover {
	font-family: 'Akrobat Bold';
	
}
.header__sub-menu__link {
    display: inline-block;
    padding: 5px 10px;
    
}

.header__burger {
    margin-right: 40px;
    position: absolute;
    top: 10px;
    left: 17vw;
}
.header__burger a {
	display: inline-block;
}
.header__burger:hover .header__menu {
    display: block;
    
}
.header__burger-img {
    max-width: 100%;
	max-height: 100%;
}
.header__logo {
    margin-right: 26px;
}
.header__logo-img {
	max-width: 100%;
	max-height: 100%;
}
.header__nav {
	font-size: 1.5em;
	letter-spacing: 2px;
	font-family: 'Akrobat SemiBold';
} 

.header__nav-menu {
	margin-right: 21px;
	padding-bottom: 4px;

}
.header__nav-menu:hover { /*Подчеркивание при наведении на меню-навигации*/
	font-family: 'Akrobat SemiBold';
	border-bottom: 1.2px solid #99c1c1;
	color: #99c1c1;
}

	
.header__social {
	text-align: center;
}

.header__social li {
	display: inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    width: 28px;
    height: 28px;
    margin-right: 30px;
}
.header__social li:hover {
	opacity: .5;
}
.header__social li:first-child {
	width: 25px;
    height: 25px;
}

.header__social-icon img {
    max-width: 100%;
	max-height: 100%;
}

/*-----------End header-----------*/

/*-----------Start section-one-----------*/

.section-one {
	padding: 0 10vw 60px 15vw;
	box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1); /*Внешняя тень*/
	-webkit-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1);
	background: url(../img/Фон_section-one_1920.png) no-repeat;
	background-size: cover;
}
.section-one__conteiner {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    
}
.section-one__left {
	flex: 50%;  /*Элемент занимет 50% стрницы*/
	-webkit-box-flex: 50%;
    -ms-flex: 50%;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: flex-end;
	-webkit-box-pack: end;
    -ms-flex-pack: end;
     padding: 70px 45px 145px 0;
}
.section-one__info {
	border: 1px solid #99c1c1;
	padding: 16px 40px 30px 50px;
    display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    justify-content: center;      
    -webkit-box-pack: center;
    -ms-flex-pack: center;
          
}
.section-one__logo {
	height: 300px;
}
.section-one__logo-img {
	margin: 30px auto;
	width: 178px;
}
.section-one__logo-img img {
	width: 100%;
	height: 100%;
}
.section-one__title {
	text-align: center;
	margin-bottom: 40px;
}

.section-one__list {   
	font-size: 1.8em;
	letter-spacing: 2px;
	line-height: 40px;
	padding-left: 24px;
}
.section-one__list-item 
	
.section-one__right {
    flex: 50%; /*Элемент занимет 50% стрницы*/
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
}

.section-one__img img {
	max-height: 100%;
	max-width: 100%;
}

/*-----------End section-one-----------*/


/*-----------Start section-two-----------*/

.section-two {
	border-radius: 65px 65px 0 0; /*Скругление углов*/
	margin-top: -64px;
	padding: 21vh 10vw 10vh 15vw;
	background: url(../img/Фон_section-two_1920.png) no-repeat;
	background-size: cover;
 
}
.section-two__conteiner {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.section-two__left {
	flex: 50%;  /*Элемент занимет 50% стрницы*/
	-webkit-box-flex: 50%;
    -ms-flex: 50%;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    padding-top: 20px;
}
.section-two__img {
	height: 60vh; /*Примерная высота под картинку*/
}
.section-two__img img {
	max-width: 100%;
	max-height: 100%; 
}
.section-two__right {
	flex: 50%; /*Элемент занимет 50% стрницы*/
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
	padding: 0 30px;
}	
.section-two__info {
	min-width: 607px;
}
.section-two__title {
	border-bottom: 1.2px dotted #939496;
	padding-bottom: .7px;
}
.section-two__title h2 {
	text-align: center;
	color: #d19faa;
} 

.section-two__text {
	font-size: 1.5em;
	line-height: 30px;
	text-align: justify;
	border-bottom: 1.2px dotted #939496;
	padding: 17px 0 80px 0;
	margin-bottom: 30px;
}

.section-two__links {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.section-two__characteristic {
	padding-left: 20px;
}
.section-two__characteristic__item {
	font-size: 1.26em;
	letter-spacing: 1px;
	margin-right: 2vw;
	padding-bottom: 3px;
}
.section-two__characteristic__item:hover { /*Подчеркивание при наведении на меню-навигации*/
	border-bottom: 1.1px solid #d19faa;
	font-family: 'Akrobat SemiBold'; 
	color: #d19faa;
}
.section-two__messanger {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
}
.section-two__messanger__icon {
	display: block;
	width: 35px;
    height: 35px;
    margin-right: 20px;
}
.section-two__messanger__icon img {
    max-width: 100%;
    max-height: 100%;
}
.section-two__messanger__icon:hover {
	opacity: .7;
}

/*-----------End section-two-----------*/

/*-----------Start section-three-----------*/

.section-three {
	padding: 11.7vh 0 165px 0;
	background: linear-gradient(55deg, #e8c7cd, #fff, #fff, #fff, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(55deg, #e8c7cd, #fff, #fff, #fff, #bbd6d7);
	box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1); /*Внешняя тень*/
	-webkit-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1); 
	
}
.section-three__title {
	color: #99c1c1;
	text-align: center;
	border-bottom: 1.2px dotted #939496; /*Линия подчеркивания*/
	margin: 0 auto 17px auto;
	width: 1260px;
}
.section-three__info {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding: 20px 0 0 25px;
    margin-bottom: 78px;
}
.section-three__tile {
	border: 1px solid #E8E8E8;
	margin-right: 35px;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	min-width: 373px;
}
.section-three__tile:last-child {
	margin-right: 15px;
}
.section-three__tile:hover {
	box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
}
.section-three__img {
	max-width: 71px;
	max-height: 71px;
	margin: 45px 0 50px 35px;
	overflow: hidden;
}
.section-three__img img {
	max-width: 100%;
	max-height: 100%;
}
.section-three__text {
	font-size: 2.205em;
	letter-spacing: 2px;
	padding-left: 40px;
	margin-bottom: 65px;
}
.section-three__form {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	margin: 0 18vw 0 20vw;
}
.section-three__btn {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.section-three__btn__brief {
	font-size: 1.26em;
	letter-spacing: 2px;
	margin-right: 6vw;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	padding: 20px 3.8vw;
}

.section-three__btn__brief:hover {
	background: linear-gradient(65deg, #e8c7cd, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(65deg, #e8c7cd, #bbd6d7);
	color: #fff;
}
.section-three__btn__consult {
	font-size: 1.26em;
	letter-spacing: 1px;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	padding: 20px 1.6vw;
}
.section-three__btn__consult:hover {
	background: linear-gradient(65deg, #e8c7cd, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(65deg, #e8c7cd, #bbd6d7);
	color: #fff;
}
/*.section-three__messanger {}*/
.section-three__messanger__icon {
	display: inline-block;
	margin-right: 19px;
}
.section-three__messanger__icon:last-child {
	margin-right: 0px;
}
.section-three__messanger__icon img {
	width: 100%;
    height: 100%;
}
.section-three__messanger__icon img:hover {
	opacity: .6;
}


/*-----------End section-three-----------*/

/*-----------Start section-four-----------*/

.section-four {
	padding: 0 10vw 0 15vw;
	box-shadow: 0 -50px 55px rgba(255, 255, 255, 1) inset,
	            0 2px 20px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 -50px 55px rgba(255, 255, 255, 1) inset,
	                      0 2px 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 -50px 55px rgba(255, 255, 255, 1) inset,
	                 0 2px 20px rgba(0, 0, 0, 0.1) inset;
	background: url(../img/Фон_section-four_1920.png) no-repeat;
	background-size: cover;
	position: relative;
}	
.section-four::before {
	content: '';
	position: absolute;
	bottom: 0;
	height: 50px;
	background: linear-gradient(to bottom, transparent, #fff 90%);
}
.section-four__conteiner {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    
}
.section-four__left {
	flex: 43%;  /*Элемент занимет 43% стрницы*/
	-webkit-box-flex: 43%;
    -ms-flex: 43%;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: flex-end;
	-webkit-box-pack: end;
    -ms-flex-pack: end;
    padding: 15vh 38px 10vh 0;
}
.section-four__info {
	padding: 0 40px 0 40px;
}
.section-four__title {
	color: #d19faa;
	text-align: center;
	border-bottom: 1.2px dotted #939496; /*Линия подчеркивания*/
	margin-bottom: 55px;
   
}
/*.section-four__item {}*/
.section-four__text1 {
	font-size: 2.25em;
	letter-spacing: 3.2px;
	line-height: 47px;
	text-align: center;
	margin-bottom: 50px;
}
.section-four__text2 {
	font-family: 'Akrobat Bold';
	font-size: 3em;
	line-height: 55px;
	letter-spacing: 3.1px;
	text-align: center;
	margin-bottom: 55px;
}
.section-four__right {
	flex: 57%; /*Элемент занимет 57% стрницы*/
    -webkit-box-flex: 57%;
    -ms-flex: 57%;
    background: url(../img/Фото_section-four.png) no-repeat;
    background-position: bottom left;
    background-size: contain;
}	


.section-four__img {
	margin: 0 0 0 20px;
}

.section-four__img img {
	max-width: 100%;
	max-height: 100%;
}


/*-----------End section-four-----------*/


/*-----------Start section-five-----------*/

.section-five {
	border-radius: 0 0 55px 55px; /*Скругление углов*/
	margin-bottom: -65px;
	position: relative;
	z-index: 1;
	background: url(../img/Фон_section-five_1920.png) no-repeat;
	background-size: cover;
	box-shadow: 0 -10px 35px 3px rgba(0, 0, 0, .1) inset; /*Внутренняя тень снизу*/
	-webkit-box-shadow: 0 -7px 25px 3px rgba(0, 0, 0, .1) inset;
	-moz-box-shadow: 0 -10px 35px 3px rgba(0, 0, 0, .1) inset;
	padding: 0 5vw 85px 10vw;
    
}
.section-five__conteiner {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}
.section-five__left {
	flex: 32%;  /*Элемент занимет 32% стрницы*/
	-webkit-box-flex: 32%;
    -ms-flex: 32%;
	padding: 28vh 20px 13vh 20px;
}
/*.section-five__info {}*/
.section-five__title {
	color: #99c1c1;
	text-align: center;
	border-bottom: 1.2px dotted #939496; /*Линия подчеркивания*/
	padding: 0 25px;
	margin-bottom: 45px;
}
.section-five__text {
	text-align: justify;
	padding: 0 15px;
	font-size: 1.512em;

}
.section-five__right {
	flex: 68%; /*Элемент занимет 68% стрницы*/
    -webkit-box-flex: 68%;
    -ms-flex: 68%;
	padding: 80px 0 0 25px;
}
.section-five__wrap {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-flow: row wrap;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    padding-top: 20px;
    
}
.section-five__tile {
	border: 1px solid #E8E8E8;
	margin: 0 43px 35px 0;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	width: 377px;
	background: #fff;
}
.section-five__tile:hover {
	box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 25px 25px 20px rgba(0, 0, 0, .15);
}
.section-five__tile__img {
	width: 91px;
	height: 72px;
	margin: 38px 10px 5px 25px;
	overflow: hidden;
}
.section-five__img {
	max-width: 100%;
}
.section-five__tile__text {
	font-size: 2.205em;
	letter-spacing: 2px;
	padding-left: 40px;
	margin-bottom: 47px;
}
.section-five__tile__btn {
	display: block;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	padding: 23px 3vw;
	font-size: 1.26em;
	letter-spacing: 2px;
	margin: 0 2vw 15px 6vw;
	text-align: center;
}
.section-five__tile__btn:hover {
	background: linear-gradient(65deg, #e8c7cd, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(65deg, #e8c7cd, #bbd6d7);
	color: #fff;
}
.section-five__tile__link {
	display: block;
	padding: 16px 10px 16px 80px;
	font-size: 1.26em;
	letter-spacing: 1px;
	font-family: 'Akrobat SemiBold';
	margin: 0 0 15px 7vw;
	text-align: center;
}
.section-five__tile__link:hover {
	opacity: 0.7;
}
.item {
	margin-top: 100px;
}


/*-----------End section-five-----------*/

/*-----------Start section-six-----------*/


.section-six {
	background: linear-gradient(90deg, #e8c7cd, #fff, #fff, #fff, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(90deg, #e8c7cd, #fff, #fff, #fff, #bbd6d7);
}
.section-six__conteiner {
	padding-top: 190px;
	background: url(../img/Фото_section-six_1920.png) no-repeat;
	background-position: bottom left;

}
.section-six__top {
	padding: 10px 0 0 26px;
	margin: 0 auto;
	width: 1300px;
}
.section-six__header {
	border-bottom: 1.2px dotted #939496; /*Линия подчеркивания*/
	padding-bottom: 15px; 
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-bottom: 45px;
}
.section-six__title {
	line-height: 53px;
	color: #d19faa;
}
.slide {
	position: relative;
}
.slide .slick-list {
	overflow: hidden;
}
.slide .slick-track {
	display: flex;
}
.slide .slick-arrow {
	position: absolute;
	top: -90px;
	font-size: 0;
	width: 36px;
	height: 36px;
	border: none;
	outline: none;
	background-size: contain;
	background-position: center;
}
.slide .slick-arrow:hover {
	opacity: .6;
}

.slide .slick-arrow.slick-prev {
	right: 60px;
	background: url(../img/Arrow_left.png) 100% no-repeat;
}
.slide .slick-arrow.slick-next {
	right: 30px;
	background: url(../img/Arrow_right.png) 100% no-repeat;
}
.section-six__slide {
	overflow: hidden;
	border-radius: 15px;
	padding: 20px 3px 0 20px;
}
.section-six__wrap {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-flow: row wrap;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
}
.section-six__review {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    flex: 48%;  /*Элемент занимет 48% 'элемента'*/
	-webkit-box-flex: 48%;
    -ms-flex: 48%;
    margin: 0 22px 37px 0;
    padding: 17px 30px 15px 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	background: #fff;
}

.section-six__img {
    border: 1px solid #000;
	width: 165px;
	height: 210px;
	border-radius: 15px;
	margin-right: 35px;
}
.section-six__info {
	flex: 59%;
	-webkit-box-flex: 59%;
	-ms-flex: 59%;
}
.section-six__name {
	padding: 0 0 3px 8px;
}
.section-six__inst__link {
	display: block;
	text-decoration: none;
	font-size: 1.512em;
	letter-spacing: 1px;
	border-bottom: 1.2px dotted #939496; /*Линия подчеркивания*/
	padding: 0 0 9px 8px;
    margin-bottom: 11px;
}
.section-six__text {
	font-size: 1.312em;
	text-align: justify;
	margin-bottom: 8px;
}
.section-six__details {
	padding-left: 12vw;
	font-size: 1.26em;
	letter-spacing: 1px;
	font-weight: 600;
}
.section-six__details:hover {
	opacity: .7;
}
.section-six__bottom {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
    padding-top: 155px;
}
.section-six__left {
	flex: 49%;
	-webkit-box-flex: 49%;
	-ms-flex: 49%;
	margin-right: 5px;
}
.section-six__right {
	flex: 50%;
	-webkit-box-flex: 50%;
	-ms-flex: 50%;
	margin-bottom: 120px;
}
.section-six__subtitle {
	color: #99c1c1;
	padding: 0 0 0 19px;
	border-bottom: 1.2px dotted #939496;
	margin: 0 285px 0 0;
	min-width: 647px;
}
.section-six__cases {
	font-size: 1.1em;
	letter-spacing: 1.7px;
	line-height: 21px;
	box-shadow: 15px 0px 15px -3px rgba(50, 50, 50, .1); /*Внешняя тень*/
	-webkit-box-shadow: 15px 0px 15px -3px rgba(50, 50, 50, .1);
	-moz-box-shadow: 15px 0px 15px -3px rgba(50, 50, 50, .1);
	margin-right: 6px;
	width: 615px;
}
.section-six__cases__item {
	border-radius: 15px;
    box-shadow: 0 5px 20px rgba(30, 30, 30, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
	-moz-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
	padding: 10px 30px 10px 15px;
	font-size: 1.512em;
	letter-spacing: 1px;
	line-height: 30px;
	background: linear-gradient(90deg, #fff, #def5f4); /*Фон - градиент*/
	background: -o-linear-gradient(90deg, #fff, #def5f4);
	width: 578px;
	height: 79.2px;
}

.slider-item {
	min-width: 0;
	height: 109.2px;
	padding-top: 10px;
}
.section-six__cases__item:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
}
.slider .slick-track {
	display: block;
	padding-left: 15px;
}
.slick-list {
	overflow: hidden;
}
.slider {
	position: relative;
	height: 560px;
	padding-top: 20px;
}
.slider .slick-arrow {
	font-size: 0;
	border: none;
	width: 36px;
	height: 36px;
	outline: none;
	position: absolute;
}
.slider .slick-prev {
	left: 50px;
	top: 50px; 
	background: #fff;
}
.slider .slick-next {
	background: url(../img/Arrow_down.png) 100% no-repeat;
	background-position: center;
	left: 620px;
	bottom: 20px;
	
}
.slider .slick-next:hover {
	opacity: .6;
}


/*-----------End section-six-----------*/


/*-----------Start section-seven-----------*/


.section-seven {
	background: url(../img/Фон_section-seven_1920.png) no-repeat;
    	
}
.section-seven__conteiner {
	background: url(../img/Фото_section-seven_1920.png) no-repeat;
	background-position: bottom right;
}
.section-seven__top {
	padding: 125px 17vw 0 17vw;
	position: relative;
}
.section-seven__title {
    text-align: center;
    color: #d19faa;
}    
.section-seven__tooltip{
	border: 1px solid #000;
	/*display: none;*/
	position: absolute;
	width: 827px;
	height: 647px;

}
/*.section-seven__tooltip__before {}*/
/*.section-seven__tooltip__after {}*/
/*.tooltip__subtitle {}*/
/*.tooltip__cotent {}*/

.section-seven__wrap {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: space-between;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
	height: 80px;
	padding: 30px 20vw 10px 20vw;
	margin-bottom: 135px;
	
}
.section-seven__wrap.upp {
	padding: 0 11vw 0 11vw;
	align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    margin-bottom: 0;
    border-top: 1.2px dotted #939496; /*Линия границы*/
}

.section-seven__social-1 {
	align-self: flex-end;
	-ms-flex-item-align: end;
}
.section-seven__social-inst {
	font-size: 1.512em;
	font-family: 'Akrobat SemiBold';
	letter-spacing: 1.6px;
	padding-bottom: 5px;
}
.section-seven__social-inst:hover, .section-seven__social-inst:active { /*Подчеркивание при наведении и нажтии на меню-навигации*/
	border-bottom: 1.1px solid #d19faa;
	color: #d19faa;
}
.section-seven__bottom {
	padding: 130px 0 80px  24.5vw;
	}
/*.section-seven__letter {}*/
.section-seven__sub-title {
	margin-bottom: 9px;
	padding-left: 5px;
	letter-spacing: 8px;
	color: #99c1c1;
}

/*.section-seven__contactform */
.section-seven__contact {
	margin-bottom: 20px;

}
.section-seven__form {
	font-family: 'Akrobat Regular';
	font-size: 1.512em;
	letter-spacing: .9px;
	padding: 5px 10px 10px 20px;
	width: 500px;
	height: 51px;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
	border: none;
	line-height: 30px;
}
.section-seven__form:hover {
	width: 510px;
}
.section-seven__form:focus {
	outline: none;
}
 
.section-seven__form-text {
	font-family: 'Akrobat Regular';
	font-size: 1.512em;
	letter-spacing: .9px;
	padding: 10px 10px 9px 19px;
	width: 500px;
	height: 205px;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(30, 30, 30, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
	-moz-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
	border: none;
}
.section-seven__form-text:hover {
	width: 510px;
}
.section-seven__form-text:focus {
	outline: none;
}
.section-seven__btn {
	margin: 12px 0 0 340px;
}
.section-seven__form-btn {
    font-family: 'Akrobat Bold';
    font-size: 1.26em;
    border-radius: 10px;
    padding: 12px 35px;
    cursor: pointer;
    background: linear-gradient(65deg, #e8c7cd, #bbd6d7); /*Фон - градиент*/
	background: -o-linear-gradient(65deg, #e8c7cd, #bbd6d7);
	color: #fff;
	border: none;
}
.section-seven__form-btn:focus {
	outline: none;
	
}
.section-seven__form-btn:hover {
	background: #fff;
	color: #99c1c1;
	box-shadow: 0 5px 20px rgba(30, 30, 30, .15); /*Тень у блока*/
	-webkit-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
	-moz-box-shadow: 0 5px 20px rgba(30, 30, 30, .15);
}

/*-----------End section-seven-----------*/


/*-----------Start footer-----------*/


.footer {
    display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    padding: 15px 0 20px 60px;
    height: 67px;
}
.footer__social-icon {
	display: inline-block;
	margin-right: 45px;
	
}
.footer__social-icon img {
	max-width: 100%;
	max-height: 100%;
}
.footer__social-icon:hover {
	opacity: .7;
}

/*-----------End footer-----------*/


@media screen and (max-width: 1650px) {
.header__menu {
	width: 19.5vw;
}
.header__menu__list {
	margin: 70px 10px 0 3vh;
}

}

@media screen and (max-width: 1600px) {
    body {
	max-width: 1600px;
}
h1 {
	font-size: 3em;
	letter-spacing: 7px;
	line-height: 60px;
}
h2 {
	letter-spacing: 6px;
	font-size: 2.9em;
}
h4 {
	font-size: 1.1em;
	letter-spacing: 2px;
	font-weight: 600;
}
/*-----------Start header-----------*/

.header__menu {
    width: 21vw;
    height: 578px;
    top: -10px;
    left: -17.5vw;
}

.header__menu__list {
	margin: 55px 15px 0 5vh;
}
.header__menu__list>li {
    margin: 0 0 18px 0;
    font-size: 1.205em;
}
.header__menu__list>li:nth-child(2):hover {
	margin-bottom: 165px;
} 
.header__menu__list>li:nth-child(4):hover {
	margin-bottom: 165px;
} 

/*.header__menu__link {}*/
.header__sub-menu__list {
	left: 1.4vw;
}

.header__container {
	height: 43px;
	margin: 13px 14vw 15px 22vw;
}
.header__burger {
    margin-right: 40px;
    top: 8px;
    left: 18vw;
}
.header__burger {
	width: 44px;
}

.header__logo {
	width: 25px;
	height: 33px;
}

.header__nav {
	font-size: 1.1em;
	padding-top: 5px;
} 

.header__nav-menu {
	margin-right: 19px;
}
.header__social li {
	width: 24px;
    height: 24px;
    margin-right: 27px;
}
.header__social li:first-child {
	width: 22px;
    height: 22px;
}
.header__social li:last-child {
	width: 30px;
    height: 30px;
}


/*-----------End header-----------*/

/*-----------Start section-one-----------*/

.section-one {
	background: url(../img/Фон_section-one_1600.png) no-repeat;
	background-size: cover;
	padding: 0 10vw 40px 15vw;
}

.section-one__left {
	padding: 55px 45px 145px 0;
}
.section-one__info {
	padding: 15px 30px 35px 35px;
}
.section-one__logo {
	height: 240px;
}
.section-one__logo-img {
	margin: 25px auto;
	width: 145px;
}

.section-one__title {
	margin-bottom: 35px;
	
}
.section-one__list {  /*Отступ слева*/ 
	font-size: 1.5em;
	letter-spacing: 1.5px;
	line-height: 35px;  /*Отступ слева*/ 
	padding-left: 19px;
}

.section-one__img img {
	max-height: 83%;
	max-width: 83%;
}

/*-----------End section-one-----------*/

/*-----------Start section-two-----------*/

.section-two {
	border-radius: 65px 65px 0 0; /*Скругление углов*/
	margin-top: -64px;
	padding: 21vh 10vw 13.5vh 15vw;
}

.section-two__left {
	padding-top: 12px;
}
.section-two__img {
	height: 56vh; /*Примерная высота под картинку*/
}
.section-two__img img {
	max-width: 100%;
	max-height: 100%; 
}
.section-two__right {
	padding: 0 25px;
}	

.section-two__info {
	min-width: 507px;
}
.section-two__title {
	border-bottom: 1.2px dotted #939496;
	padding-bottom: .7px;
}

.section-two__text {
	font-size: 1.25em;
	line-height: 24px;
	padding: 17px 0 70px 0;
	margin-bottom: 22px;
}

.section-two__characteristic {
	padding-left: 17px;
}
.section-two__characteristic__item {
	font-size: 1.06em;
	letter-spacing: .8px;
	margin-right: 2vw;
	padding-bottom: 3px;
}

.section-two__messanger__icon {
	width: 27px;
    height: 27px;
    margin-right: 14px;
}
.section-two__messanger__icon img {
    max-width: 100%;
    max-height: 100%;
}

/*-----------End section-two-----------*/

/*-----------Start section-three-----------*/

.section-three {
	padding: 11vh 0 130px 0;
		
}
/*.section-three__conteiner*/
.section-three__title {
	margin: 0 auto 17px auto;
	width: 1040px;
}
.section-three__info {
	padding: 20px 0 0 25px;
    margin-bottom: 65px;
}
.section-three__tile {
	margin-right: 30px;
	min-width: 310px;
}

.section-three__img {
	max-width: 59px;
	max-height: 59px;
	margin: 35px 0 40px 20px;
}
.section-three__img img {
	max-width: 100%;
	max-height: 100%;
}
.section-three__text {
	font-size: 1.7em;
	letter-spacing: 2px;
	padding-left: 30px;
	margin-bottom: 60px;
}
.section-three__form {
	margin: 0 18vw 0 20vw;
}
.section-three__btn__brief {
	font-size: 1.07em;
	letter-spacing: 1px;
	margin-right: 6vw;
	padding: 20px 3.8vw;
}

.section-three__btn__consult {
	font-size: 1.07em;
	letter-spacing: 1px;
	padding: 20px 1.6vw;
}

.section-three__messanger__icon {
	margin-right: 17px;
}
.section-three__messanger__icon:last-child {
	margin-right: 0px;
}
.section-three__messanger__icon img {
	max-width: 92%;
    max-height: 92%;
}


/*-----------End section-three-----------*/

/*-----------Start section-four-----------*/

.section-four {
	padding: 0 10vw 0 15vw;
	background: url(../img/Фон_section-four_1600.png) no-repeat;
	background-size: cover;
}

.section-four__left {
	padding: 15vh 38px 10vh 0;
}
.section-four__info {
	padding: 0 35px 0 35px;
}
.section-four__title {
	margin-bottom: 39px;
}
.section-four__text1 {
	font-size: 2em;
	letter-spacing: 2px;
	line-height: 37px;
	margin-bottom: 36px;
}
.section-four__text2 {
	font-size: 2.3em;
	line-height: 55px;
	letter-spacing: 3.1px;
	margin-bottom: 55px;
}

.section-four__img {
	width: 580px;
	/*height: 600px;*/
	margin: 10px 0 0 0;
}

.section-four__img img {
	max-width: 100%;
	max-height: 100%;
}


/*-----------End section-four-----------*/

/*-----------Start section-five-----------*/

.section-five {
	padding: 0 2vw 70px 8vw;
	background: url(../img/Фон_section-five_1600.png) no-repeat;
	background-size: cover;
}

.section-five__left {
	flex: 40%;  /*Элемент занимет 40% стрницы*/
	-webkit-box-flex: 40%;
    -ms-flex: 40%;
	padding: 28vh 20px 13vh 0;
}
.section-five__title {
	margin-bottom: 45px;
	margin: 0 35px 35px 35px;
}
.section-five__text {
	font-size: 1.205em;
	margin: 0 25px;
}
.section-five__right {
	flex: 60%; /*Элемент занимет 60% стрницы*/
    -webkit-box-flex: 60%;
    -ms-flex: 60%;
	padding: 65px 0 0 15px;
}
/*.section-five__wrap {}*/
.section-five__tile {
	margin: 0 38px 25px 0;
	width: 310px;
	height: 275px;
}

.section-five__tile__img {
	width: 58px;
	height: 65px;
	margin: 24px 0 1px 25px;
}
.section-five__img {
	max-width: 100%;
}
.section-five__tile__text {
	font-size: 1.8em;
	letter-spacing: 2px;
	padding-left: 30px;
	margin-bottom: 35px;
}
.section-five__tile__btn {
	padding: 18px 40px;
	font-size: 1.02em;
	letter-spacing: 1px;
	margin: 0 0 0 6vw;
	width: 180px;
}

.section-five__tile__link {
	padding: 16px 10px 16px 80px;
	font-size: 1.05em;
	letter-spacing: 1px;
	margin: 0 0 15px 7vw;
}

.item {
	margin-top: 80px;
}
/*-----------End section-five-----------*/

/*-----------Start section-six-----------*/


.section-six__conteiner {
	padding-top: 170px;
   background: url(../img/Фото_section-six_1600.png) no-repeat;
   background-position: bottom left;
}
.section-six__top {
	margin: 0 auto;
	width: 1080px;
}
.section-six__header { 
	margin: 0 20px 35px 0; 
	padding-bottom: 5px;
}
.section-six__title {
    line-height: 50px;
}
.slide .slick-arrow {
	top: -80px;
	width: 31px;
	height: 30px;
}

.slide .slick-arrow.slick-prev {
	right: 60px;
}
.slide .slick-arrow.slick-next {
	right: 30px;
}

/*.section-six__wrap {}*/
.section-six__review {
	margin: 0 20px 30px 0;
    padding: 18px 30px 15px 15px;
}

.section-six__img {
    border: 1px solid #000;
	width: 138px;
	height: 174px;
	margin-right: 23px;
}
.section-six__name {
	padding: 0 0 3px 8px;
}
.section-six__inst__link {
	font-size: 1.1em;
	letter-spacing: 1.8px;
	padding: 0 0 9px 8px;
    margin-bottom: 11px;
}
.section-six__text {
	font-size: 1em;
	margin-bottom: 8px;
}
.section-six__details {
	padding-left: 12vw;
	font-size: 15px;
	letter-spacing: 1px;
	
}
.section-six__bottom {
	padding-top: 130px;
}
/*.section-six__left {}*/
.section-six__right {
	margin-bottom: 110px;
}
.section-six__subtitle {
	color: #99c1c1;
	padding: 0 0 0 19px;
	margin: 0 250px 0 0;
	min-width: 522px;
}
.section-six__cases {
	font-size: 1.1em;
	letter-spacing: 1.7px;
	line-height: 21px;
	margin-right: 6px;
	width: 488px;
}
.section-six__cases__item {
	padding: 9px 25px 8px 15px;
	margin-bottom: 21px;
	font-size: 1.1em;
	line-height: 25px;
	text-align: justify;
	width: 451px;
	height: 70px;
}
.slider-item {
	min-width: 0;
	height: 91px;
	padding-top: 5px;
}
.section-six__cases__item a {
	display: block;
}
.slider {
	position: relative;
	height: 471px;
	padding-top: 18px;
}
.slider .slick-next {
	left: 500px;
	bottom: 20px;
}
.slider .slick-arrow {
	width: 27px;
	height: 27px;
}

/*-----------End section-six-----------*/

/*-----------Start section-seven-----------*/


.section-seven {
	background: url(../img/Фон_section-seven_1600.png) no-repeat;
}
.section-seven__conteiner {
	background: url(../img/Фото_section-seven_1600.png) no-repeat;
	background-position: bottom right;
}
.section-seven__top {
	padding: 105px 17vw 0 17vw;
}
.section-seven__wrap {
	height: 80px;
	padding: 20px 20vw 10px 20vw;
	margin-bottom: 135px;
}
.section-seven__wrap.upp {
	padding: 0 11vw 0 11vw;
	border-top: 1.2px dotted #939496; /*Линия границы*/
}

.section-seven__social-inst {
	font-size: 1.205em;
	letter-spacing: 1.4px;
	padding-bottom: 5px;
}

.section-seven__bottom {
	padding: 60px 0 70px  24vw;
}

.section-seven__sub-title {
	margin-bottom: 9px;
	padding-left: 5px;
	letter-spacing: 6px;
}
.section-seven__contact {
	margin-bottom: 17px;
}
.section-seven__form {
	font-size: 1.2em;
	letter-spacing: 1px;
	padding: 5px 10px 10px 20px;
	width: 420px;
	height: 41px;
	border-radius: 10px;
}

.section-seven__form:hover {
	width: 430px;
}
.section-seven__form-text {
	font-size: 1.2em;
	letter-spacing: .9px;
	padding: 6px 10px 9px 19px;
	width: 420px;
	height: 170px;
	border-radius: 10px;
}
.section-seven__form-text:hover {
	width: 430px;
}
.section-seven__btn {
	margin: 12px 0 0 285px;
}
.section-seven__form-btn {
    font-size: .9em;
    letter-spacing: 2px;
    padding: 9px 24px;
}

/*-----------End section-seven-----------*/


/*-----------Start footer-----------*/


.footer {
    padding: 15px 0 20px 40px;
}
.footer__social-icon {
	margin-right: 35px;
	width: 35px;
	height: 35px;
}
.footer__social-icon.instagramm {
    width: 30px;
	height: 30px;
}

/*-----------End footer-----------*/
}

@media screen and (max-width: 1366px) {
    body {
	max-width: 1366px;
}
h1 {
	font-size: 2.5em;
	letter-spacing: 6px;
	line-height: 50px;
}
h2 {
	letter-spacing: 4px;
    font-size: 2.4em;
}

h4 {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 600;
}
/*-----------Start header-----------*/

.header__menu {
    width: 20vw;
    height: 528px;
    top: -10px;
    left: -14.5vw;
}

.header__menu__list {
	margin: 40px 15px 0 4vh;
}
.header__menu__list>li {
    font-size: 1.1em;
}
.header__menu__list>li:nth-child(2):hover {
	margin-bottom: 160px;
} 
.header__menu__list>li:nth-child(4):hover {
	margin-bottom: 135px;
} 

.header__sub-menu__list {
	left: 1vw;
	top: 7px;
   
}
.header__sub-menu__link {
    padding: 0 10px;
}

.header__container {
	height: 39px;
	margin: 10px 15vw 15px 21vw;
}
.header__burger {
    margin-right: 30px;
    top: 6px;
    left: 15vw;
}
.header__burger {
	width: 40px;
}
.header__logo {
    margin-right: 22px;
    width: 22px;
    height: 30px;
}

.header__nav {
	font-size: .9em;
	letter-spacing: 1.5px;
	padding-top: 5px;
} 

.header__nav-menu {
	margin-right: 15px;
}
.header__social {
	padding-top: 5px;
}

.header__social li {
	width: 20px;
    height: 20px;
	margin-right: 24px;
}
.header__social li:first-child {
	width: 18px;
    height: 18px;
}
.header__social li:last-child {
	width: 28px;
    height: 28px;
}


/*-----------End header-----------*/

/*-----------Start section-one-----------*/

.section-one {
	background: url(../img/Фон_section-one_1366.png) no-repeat;
	background-size: cover;
	padding: 0 10vw 35px 15vw;
}

.section-one__left {
	flex: 50%;  /*Элемент занимет 50% стрницы*/
	-webkit-box-flex: 50%;
    -ms-flex: 50%;
	padding: 45px 40px 120px 0;
}
.section-one__info {
	padding: 8px 30px 35px 35px;
}
.section-one__logo {
	height: 210px;
}
.section-one__logo-img {
	margin: 25px auto;
	width: 125px;
}

.section-one__list {
	font-size: 1.3em;
	line-height: 30px;
	letter-spacing: 1.3px;
}

.section-one__img img {
	max-height: 70%;
	max-width: 70%;
}

/*-----------End section-one-----------*/

/*-----------Start section-two-----------*/

.section-two {
	border-radius: 65px 65px 0 0; /*Скругление углов*/
	margin-top: -64px;
	padding: 21vh 10vw 14vh 15vw;
}

.section-two__left {
	padding-top: 12px;
}
.section-two__img {
	height: 56vh; /*Примерная высота под картинку*/
}
.section-two__img img {
	max-width: 100%;
	max-height: 100%; 
}
.section-two__right {
	padding: 0  25px;
}	

.section-two__info {
	min-width: 407px;
}
.section-two__title {
	border-bottom: 1.2px dotted #939496;
}

.section-two__text {
	font-size: 1.07em;
	line-height: 20px;
	padding: 12px 0 70px 0;
	margin-bottom: 15px;
}

.section-two__characteristic {
	padding-left: 10px;
}
.section-two__characteristic__item {
	font-size: .9em;
	letter-spacing: .8px;
	margin-right: 1.5vw;
	padding-bottom: 3px;
}
.section-two__messanger__icon {
	width: 25px;
    height: 25px;
    margin-right: 10px;
}
.section-two__messanger__icon img {
    max-width: 100%;
    max-height: 100%;
}


/*-----------End section-two-----------*/

/*-----------Start section-three-----------*/

.section-three {
	padding: 11vh 0 120px 0;
		
}
.section-three__title {
	margin: 0 auto 17px auto;
	width: 900px;
}
.section-three__info {
	padding: 15px 0 0 25px;
    margin-bottom: 55px;
}
.section-three__tile {
	margin-right: 30px;
	min-width: 267px;
}

.section-three__img {
	max-width: 49px;
	max-height: 49px;
	margin: 29px 0 38px 22px;
}
.section-three__img img {
	max-width: 100%;
	max-height: 100%;
}
.section-three__text {
	font-size: 1.58em;
	letter-spacing: 1px;
	padding-left: 25px;
	margin-bottom: 40px;
}
.section-three__form {
	margin: 0px auto;
	width: 800px;
}
.section-three__btn__brief {
	font-size: .9em;
	letter-spacing: 1px;
	margin-right: 6vw;
	padding: 17px 3.8vw;
}

.section-three__btn__consult {
	font-size: .9em;
	letter-spacing: 1px;
	padding: 17px 1.5vw;
}

.section-three__messanger__icon {
	margin-right: 17px;
}
.section-three__messanger__icon:last-child {
	margin-right: 2px;
}
.section-three__messanger__icon img {
	max-width: 90%;
    max-height: 90%;
}



/*-----------End section-three-----------*/

/*-----------Start section-four-----------*/

.section-four {
	padding: 0 10vw 0 15vw;
	background: url(../img/Фон_section-four_1366.png) no-repeat;
	background-size: cover;
}

.section-four__left {
	padding: 15vh 0 10vh 0;
}
.section-four__info {
	padding: 0 35px 0 35px;
}
.section-four__title {
	margin-bottom: 35px;
   
}
.section-four__text1 {
	font-size: 1.7em;
	letter-spacing: 1px;
	line-height: 34px;
	margin-bottom: 35px;
}
.section-four__text2 {
	font-size: 2em;
	line-height: 40px;
	letter-spacing: 3.1px;
	margin-bottom: 55px;
}

.section-four__img {
	margin: 0 0 0 20px;
	/*height: 530px;*/
}
.section-four__img img {
	max-width: 100%;
	max-height: 100%;
}


/*-----------End section-four-----------*/

/*-----------Start section-five-----------*/

.section-five {
	padding: 0 2vw 57px 2vw;
    background: url(../img/Фон_section-five_1366.png) no-repeat;
	background-size: cover;
}

.section-five__left {
	flex: 40%;  /*Элемент занимет 40% стрницы*/
	-webkit-box-flex: 40%;
    -ms-flex: 40%;
	padding: 28vh 20px 13vh 0;
}
.section-five__title {
	margin: 0 30px 20px 70px;
	padding: 0 5px;
}
.section-five__text {
	font-size: 1em;
	margin: 0 30px 0 70px;
}
.section-five__right {
	flex: 60%; /*Элемент занимет 60% стрницы*/
    -webkit-box-flex: 60%;
    -ms-flex: 60%;
	padding: 50px 0 0 15px;
}
/*.section-five__wrap {}*/
.section-five__tile {
	margin: 0 30px 25px 0;
	height: 235px;
	max-width: 270px;
}

.section-five__tile__img {
	width: 51px;
	height: 65px;
	margin: 26px 0 1px 23px;
}
.section-five__img {
	max-width: 100%;
}
.section-five__tile__text {
	font-size: 1.58em;
	letter-spacing: 1px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.section-five__tile__btn {
	padding: 15px 40px;
	font-size: .9em;
	letter-spacing: 1px;
	margin: 0 0 0 6vw;
	width: 160px;
}

.section-five__tile__link {
	padding: 16px 10px 16px 70px;
	font-size: .9em;
	letter-spacing: 1px;
	margin: 0 0 15px 5vw;
}

.item {
	margin-top: 50px;
}


/*-----------End section-five-----------*/

/*-----------Start section-six-----------*/


.section-six__conteiner {
   padding-top: 150px;
   background: url(../img/Фото_section-six_1366.png) no-repeat;
   background-position: bottom left;
}
.section-six__top {
	padding: 7px 0 0 18px;
	margin: 0 auto;
	width: 920px;
}
.section-six__header { 
	margin: 0 0 30px 0; 
	padding-bottom: 5px;
}
.section-six__title {
    line-height: 45px;
}
.slide .slick-arrow {
	top: -80px;
	width: 31px;
	height: 27px;
	overflow: visible;
}

.slide .slick-arrow.slick-prev {
	right: 50px;
}
.slide .slick-arrow.slick-next {
	right: 20px;
}

.section-six__review {
	margin: 0 15px 20px 0;
    padding: 15px 10px 15px 15px;
}

.section-six__img {
    border: 1px solid #000;
	width: 120px;
	height: 150px;
	margin-right: 25px;
}
.section-six__name {
	padding: 0 0 3px 8px;

}
.section-six__inst__link {
	font-size: 1em;
	letter-spacing: 1px;
	padding: 0 0 9px 8px;
    margin-bottom: 11px;
}
.section-six__text {
	font-size: .95em;
	margin-bottom: 8px;
	line-height: 16px;
}
.section-six__details {
	padding-left: 12vw;
	font-size: .85em;
	letter-spacing: 1px;
}
.section-six__bottom {
	padding-top: 105px;
}
.section-six__left {
	margin-right: 5px;
}
.section-six__right {
	margin-bottom: 100px;
}
.section-six__subtitle {
	color: #99c1c1;
	padding: 0 0 0 19px;
	margin: 0 210px 0 0;
	min-width: 425px;
}
.section-six__cases {
	font-size: 1.1em;
	letter-spacing: 1.7px;
	line-height: 21px;
	padding: 0 5px 0 0;
	margin-right: 6px;
	width: 430px;
}
.section-six__cases__item {
	padding: 7px 20px 8px 15px;
	margin-bottom: 16px;
	font-size: .95em;
	line-height: 22px;
	width: 395px;
	height: 60px;
}
.slider-item {
	height: 80px;
	padding-top: 5px;
}
.section-six__cases__item a {
	display: block;
}
.slider {
	position: relative;
	height: 412px;
	padding-top: 17px;
}
.slider .slick-next {
	left: 445px;
	bottom: 20px;
}
.slider .slick-arrow {
	width: 25px;
	height: 25px;
}


/*-----------End section-six-----------*/

/*-----------Start section-seven-----------*/


.section-seven {
	background: url(../img/Фон_section-seven_1366.png) no-repeat;
}
.section-seven__conteiner {
	background: url(../img/Фото_section-seven_1366.png) no-repeat;
	background-position: bottom right;
}
.section-seven__top {
	padding: 90px 17vw 0 17vw;
}
.section-seven__wrap {
	height: 65px;
	padding: 18px 20vw 10px 20vw;
	margin-bottom: 110px;
}
.section-seven__wrap.upp {
	padding: 0 11.5vw 0 11.5vw;
	border-top: 1.2px dotted #939496; /*Линия границы*/
}

.section-seven__social-inst {
	font-size: 1.05em;
	letter-spacing: 1.4px;
	padding-bottom: 5px;
}

.section-seven__bottom {
	padding: 65px 0 55px  24vw;
}
.section-seven__sub-title {
	margin-bottom: 9px;
	padding-left: 5px;
	letter-spacing: 6px;
}
.section-seven__contact {
	margin-bottom: 15px;
}
.section-seven__form {
	font-size: 1em;
	letter-spacing: 1px;
	padding: 5px 10px 10px 20px;
	width: 355px;
	height: 35px;
	border-radius: 10px;
}
.section-seven__form:hover {
	width: 365px;
}
 
.section-seven__form-text {
	font-size: 1em;
	letter-spacing: .9px;
	padding: 6px 10px 9px 19px;
	width: 355px;
	height: 145px;
	border-radius: 10px;
}
.section-seven__form-text:hover {
	width: 365px;
}
.section-seven__btn {
	margin: 0 0 0 243px;
}
.section-seven__form-btn {
    font-size: .8em;
    letter-spacing: 2px;
    padding: 7px 19px;
}

/*-----------End section-seven-----------*/

/*-----------Start footer-----------*/

.footer {
    padding: 15px 0 20px 35px;
    height: 57px;
}
.footer__social-icon {
	margin-right: 30px;
	width: 30px;
	height: 30px;
}
.footer__social-icon.instagramm {
    width: 25px;
	height: 25px;
}

/*-----------End footer-----------*/
}


/*-------------------------------------------------------------------------*/
/*------------Cases------------*/

.header__link {
	position: absolute;
    top: 45px;
    left: 16vw;
    font-size: 1.2em;
}
.header__link__home:hover {
	color: #99c1c1;
	text-decoration: underline;
}
.header__link__services:hover {
	color: #99c1c1;
	text-decoration: underline;
}
.section-cases {
	background: url(../img/Фон_Кейсы_1920.png) no-repeat;
	background-size: cover;
	padding-top: 30px; 
	box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1); /*Внешняя тень*/
	-webkit-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -20px 35px -20px rgba(0, 0, 0, .1);
}
.section__cases__wrap {
	margin-bottom: 35px;
}
.section__cases__title {
	text-align: center;
    color: #99c1c1; 
    margin: 30px 0 50px 0;
}
/*.section__cases__wrap {}*/
.section__cases__item {
	width: 820px;
	margin: 0 auto;
	padding: 20px 0 80px 0;
	border-top: 1.2px dotted #939496; /*Линия границы*/ 
}
.section__cases__item h3 {
	margin-bottom: 30px;

}
.section__cases__item p {
	font-size: 1.7em;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 20px;
}
.section__cases__item a {
	font-size: 1.26em;
	font-family: 'Akrobat SemiBold';
	letter-spacing: 1.5px;
	display: inline-block;
	float: right;
	margin-right: 25px;
}
.section__cases__item a:hover {
	color: #99c1c1;
}
@media screen and (max-width: 1600px) {
.header__link {
	top: 35px;
    left: 17vw;
    font-size: .9em;
}
.section-cases {
	background: url(../img/Фон_Кейсы_1600.png) no-repeat;
	padding-top: 20px; 
}
.section__cases__wrap {
	margin-bottom: 60px;
}
.section__cases__title {
	margin: 30px 0 40px 0;
}
.section__cases__item {
	width: 700px;
	padding: 20px 0 70px 0;
}
.section__cases__item h3 {
	margin-bottom: 20px;
	font-size: 2.3em;
}
.section__cases__item p {
	font-size: 1.4em;
	line-height: 30px;
	margin-bottom: 20px;
}
.section__cases__item a {
	font-size: 1.15em;
	letter-spacing: 1.5px;
	margin-right: 20px;
}

}
@media screen and (max-width: 1366px) {
	.header__link {
	top: 33px;
    left: 14vw;
    font-size: .7em;
}
.section-cases {
	background: url(../img/Фон_Кейсы_1366.png) no-repeat;
	padding-top: 15px; 
}
.section__cases__wrap {
	margin-bottom: 50px;
}
.section__cases__title {
	margin: 10px 0 20px 0;
}
.section__cases__item {
	width: 580px;
	padding: 12px 0 55px 0;
}
.section__cases__item h3 {
	margin-bottom: 12px;
	font-size: 1.9em;
}
.section__cases__item p {
	font-size: 1.2em;
	line-height: 25px;
	margin-bottom: 15px;
}
.section__cases__item a {
	font-size: 1em;
	letter-spacing: 1px;
	margin-right: 17px;
}
}


/*-------------------------------------------------------------------------*/
/*------------Profile feeding------------*/




